# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

vendor*/
thumbnails
videos
__pycache__
*.pyc
*.swp
esdata*

# IDE project files
.idea/

# log files
logs/

# model files (it can be much too large for github)
*.h5
*.pt

# credential file
.git-credential
